<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.blog.mapper.BlogMapper">

    <select id="getBlogListWithOrder" resultType="com.hmdp.model.entity.Blog">
        select * from tb_blog
        <where>
            id in <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
        </where>
        order by <foreach collection="ids" item="id" separator="," open="field(id," close=")">#{id}</foreach>
    </select>

</mapper>